<div class="row p-4">
    <div class="col">
        <ngx-url-preview url="dev.to"></ngx-url-preview>
    </div>
    <div class="col">
        <ngx-url-preview url="github.com"></ngx-url-preview>
    </div>
    <div class="col">
        <ngx-url-preview url="apple.com"></ngx-url-preview>
    </div>
</div>
<div class="row p-4">
    <div class="col">
        <ngx-url-preview url="loadingplaceholder.com"></ngx-url-preview>
    </div>
    <div class="col">
        <ngx-url-preview url="microsoft.com"></ngx-url-preview>
    </div>
    <div class="col">
        <ngx-url-preview url="google.com" customImageSrc="/assets/google.jpg"></ngx-url-preview>
    </div>
</div>