<div class="row p-4">
    <div class="col">
        <ngx-url-preview url="dev.to" [styledFooter]="true" height="350" imageHeight="180"></ngx-url-preview>
    </div>
    <div class="col">
        <ngx-url-preview url="github.com" width="420"></ngx-url-preview>
    </div>
    <div class="col">
        <ngx-url-preview url="apple.com" [styledFooter]="true" height="370"></ngx-url-preview>
    </div>
</div>
<div class="row p-4">
    <div class="col">
        <ngx-url-preview url="loadingplaceholder.com"></ngx-url-preview>
    </div>
    <div class="col">
        <ngx-url-preview url="microsoft.com" [displayImage]="false"></ngx-url-preview>
    </div>
    <div class="col">
        <ngx-url-preview url="google.com" customImageSrc="/assets/google.jpg"></ngx-url-preview>
    </div>
</div>